<div class="card">
    <div class="card-body">
      This is some text within body.
    </div>
    <app-navbar></app-navbar>
    <!--
         <app-navbar></app-navbar>
      <app-signup></app-signup>
    <div></div>
    <app-databinding></app-databinding>
    <app-directive></app-directive>
    <app-directive></app-directive>
    <app-user-list></app-user-list>
    
    <h1 id="div1">Registration Form</h1>
 
    <app-user-list></app-user-list>
    <app-directive></app-directive>

    <app-empoloyee-curd></app-empoloyee-curd>
    <app-pipes></app-pipes>

<app-parent></app-parent>
-->
<!--<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-employee-list></app-employee-list>
    </div>
<div class="col-sm-6">
<app-employee-add></app-employee-add>
</div>

  </div>
<app-products-api></app-products-api>
<app-emp-api></app-emp-api>
<app-obsrvabledemo1></app-obsrvabledemo1>
<app-obsrvabledemo2></app-obsrvabledemo2>
</div>
<app-obsrvabledemo3></app-obsrvabledemo3>
<app-obsrvabledemo4></app-obsrvabledemo4>
<app-obsrvabledemo5></app-obsrvabledemo5>
<app-sublectdemo1></app-sublectdemo1>
<app-send-message></app-send-message>
    <div class="row">
        <div class="col-sm-6">
            <app-receive-message1></app-receive-message1>
        </div>
        <div class="col-sm-6">
            <app-receive-message2></app-receive-message2>
        </div>
    </div>
    <app-form-demo1></app-form-demo1>
      <app-template-driven-from1></app-template-driven-from1>
        <app-template-driven-from2></app-template-driven-from2>
          <app-registrationform></app-registrationform>
            <app-model-driven-form1></app-model-driven-form1>
             <app-model-driven-form2></app-model-driven-form2>
               <app-tektutorialshub-template-driven-form1></app-tektutorialshub-template-driven-form1>
<app-tektutorialshub-template-driven-form-setvalue></app-tektutorialshub-template-driven-form-setvalue>

              -->
 

  <router-outlet></router-outlet>  
</div>