<div class="row">
<div class="col">
    <div class="product text-center">
        <img src='assets/images/mobile.jpg'>
        <div>Mobile</div>
    </div>
</div>
<div class="col">
    <div class="product text-center">
        <img src='assets/images/Fashion.jpg'>
        <div>Fashion</div>
    </div>
</div>
<div class="col">
    <div class="product text-center">
        <img src='assets/images/grocery.jpg'>
        <div>Grocery</div>
    </div>
</div>
<div class="col">
    <div class="product text-center">
        <img src='assets/images/travel.jpg'>
        <div>Travel</div>
    </div>
</div>
</div>

