<p>employee-list works!</p>
<table class="table table-bordered table-striped">
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.eId}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.sal}}</td>
            <td>{{emp.gender}}</td>

        </tr>
    </tbody>
</table>

<button class="btn btn-primary mx-1" (click)="getAllEmp()">GET ALL EMPLOYEES</button>
<button class="btn btn-secondary mx-1" (click)="getAllMaleEmp()">GET ALL MALE  EMPLOYEES</button>
<button class="btn btn-success mx-1"  (click)="getAllFeMaleEmp()">GET ALL FEMALE EMPLOYEES</button>
