.my-blue{
    color:yellow;
}
.my-red{
    color: red;
}
.doubleextrahigh{
    color:aqua;
}
.extrahigh{
    color:lawngreen;
}
.high{
    color:red;
}
.medium{
    color: blueviolet;
}
.low{
    color:green;
}
